<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Taskman</title>
  <link rel="icon" href="/images/googley-eye-birds.svg">
</head>
<body>
  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Times New Roman", serif}
    body {
      color: black;
      background-color: rgb(230, 125, 61);
    }
  </style>

  {{{body}}}

</body>
</html>
